@model List<N01517224_Cumulative_Project_Part_1.Models.Classes>
@{
    ViewBag.Title = "List";
}


<div id="courseListContainer">
    <form style="margin-bottom:20px;" class="form-inline" action="/Course/List" method="GET">
        <div class="form-group">
            <input type="text" class="form-control" name="searchText" autocomplete="off" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <h3>List of Classes</h3>
    <ul class="list-group">
        @foreach (N01517224_Cumulative_Project_Part_1.Models.Classes Classes in Model)
        {
        <li class="list-group-item list-group-item-action"><a href="/Course/show/@Classes.ClassId">@Classes.ClassName</a></li>
        }
    </ul>
</div>
